body {
    font-family: Helvetica;
}
h1 {
    margin-top: 30px;
    text-align: center;
}
input[type="file"] {
    display: none;
}
label {
    margin-top: 50px;
    padding: 149px 191px;
    width: 200px;
    background-color: #333;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border-width: 6px;
    border-style: dashed;
    border-color: rgb(184, 182, 182);
}
.ico {
    font-size: 23px;
}
.progres {
    margin-left: 270px;
    margin-right: 270px;
}